.player {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  width: 300px;
  display: flex;
  align-items: center;
  background-color: orange;
  span {
    font-size: 32px;
    margin-left: 16px;
  }
  img {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    // border-radius: 100%;
  }
}
